.category-product-list {
    
}

.category-product-list-content {
    box-sizing: border-box;
    padding: 0 1em;
    margin-top: 1em;
    width: 100%;
    display: flex;
}

.category-product-grid-container {
    width: 80%;
}

.category-product-list-custom-card-price {
    font-size: 125%;
    color: var(--product-price-red);
}