.hamburger {
    position: relative;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.hamburger-extended {
    position: absolute;
    width: 425px;
    z-index: 100;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid var(--dark-gray);
    padding: 10px 0;
}

.hamburger-option {
    display: block;
    margin: 0 5px;
    padding: 5px;
    border-bottom: 1px solid var(--light-gray);
}

.hamburger-option > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.hamburger-option:hover {
    background-color: #f0f2f4;
}

.hamburger-option:last-child {
    border: none;
}