.hamburger {
    position: relative;
}

.hamburger-icon {
    width: 30px;
    height: 30px;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.hamburger-extended {
    position: absolute;
    width: 425px;
    z-index: 100;
    background-color: #ffffff;
    border: 1px solid var(--dark-gray);
}

.hamburger-extended > ul {
    padding: 0;
    margin: 10px;
    list-style: none;
}

.hamburger-option {
    display: block;
    margin: 0 5px;
    padding: 5px;
    border-bottom: 1px solid var(--light-gray);
}

.hamburger-option > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.hamburger-option:hover {
    background-color: #f0f2f4;
}

.hamburger-option:last-child {
    border: none;
}