@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Open+Sans&display=swap');


.product-detail {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    padding: 0 3em;
}

.product-detail-info {
    display: flex;
}

.product-detail-left-col {
    width: 35%;
    height: 80vh;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
}

.product-detail-middle-col {
    width: 40%;
}

.product-detail-also-viewed-wrapper {
    padding: 0.5em;
    margin: 100px 0;
}

.product-detail-also-bought-wrapper {
    padding: 0.5em;
    margin: 100px 0;
}