.product-info {
    padding: 0.5em;
}


.product-info-price {
    font-size: 150%;
}

.product-info-price-value {
    color: #e32200;
    font-weight: 700;
}

.product-info-description {
    text-align: justify;
}

.product-info-user-review-wrapper {
    width: 100%;
}