.product-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-carousel-button {
    margin: 0;
    width: 3em;
    height: 3em;
    border: 1px solid #9aa0a6;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.product-carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.product-carousel-button > img {
    margin: auto;
}

.product-carousel-prev-button {
    transform: rotate(90deg);
}

.product-carousel-next-button {
    transform: rotate(270deg);
}

.product-carousel-image-container {
    display: flex;
    color: black;
    width: 100%;
    margin: 0 0.5em;
    height: 300px;
}

.product-carousel-product-card {
    margin: 0.2rem 0.4rem;
    width: 16%;
    display: flex;
    flex-direction: column;
}

.product-carousel-product-card-img-wrapper {
    height: 140px;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-carousel-product-card-img-wrapper > img {
    max-width: 100%;
    max-height: 100%;
}

.product-carousel-product-card-review-wrapper {
    display: block;
}

.product-carousel-product-card-info {
    padding: 0 1em;
    /* max-height: 50%; */
}

.product-carousel-product-card-title {
    overflow: hidden;
    /* max-height: 60%; */
}

.product-carousel-product-card-title > a {
    color: #007185;
    text-decoration: none;
}

.product-carousel-product-card-title > a:hover {
    text-decoration: underline;
}

.product-carousel-product-card-price {
    font-weight: 500;
    font-size: 125%;
    margin: 0.5em 0;
}