.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    height: 100%;
}

.card:hover {
    border: 1px solid var(--light-orange);
}

.card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 250px;
}

.card-image > img {
    max-width: 100%;
    height: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
