.navbar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    margin-bottom: 20px;
}

.navbar-top {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-bottom {
    display: flex;
    margin: 5px 0 0 0;
}

.app-logo {
    max-width: 250px;
}

.navbar-searchbox-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.navbar-hamburger-wrapper {
    display: flex;
    align-items: center;
}

.navbar-hamburger-wrapper:hover {
    cursor: pointer;
}

.navbar-hamburger-wrapper > span {
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-orange);
}

@media only screen and (max-width: 1000px) {
    .navbar {
        padding: 0;
    }

    .app-logo {
        max-width: 175px;
    }

    .navbar-searchbox-wrapper {
        margin: 0 10px;
    }
}