.product-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-carousel-button {
    margin: 0;
    width: 3em;
    height: 3em;
    border: 1px solid #9aa0a6;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.product-carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.product-carousel-button > img {
    margin: auto;
}

.product-carousel-prev-button {
    transform: rotate(90deg);
}

.product-carousel-next-button {
    transform: rotate(270deg);
}

.product-carousel-product-card {
    width: 100%;
    height: 100%;
}

.product-carousel-grid-wrapper {
    width: 100%;
}

.product-carousel-grid {
    grid-auto-flow: column;
    margin: 0 1em;
}