.product-detail {
    position: relative;
}

.product-detail-info {
    display: flex;
}

.product-detail-left-col {
    width: 35%;
    height: 80vh;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
}

.product-detail-middle-col {
    width: 40%;
}

.product-detail-right-col {
    width: 20%;
    margin-left: 30px;
}

.product-detail-recommends {
    padding: 0.5em;
    margin: 100px 0;
}

.product-detail-recommends > h2 {
    color: #c7511f;
}

.product-detail-loading-cover {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .product-detail-info {
        display: flex;
        flex-direction: column;
    }

    .product-detail-left-col {
        width: 100%;
        position: inherit;
    }

    .product-detail-middle-col {
        width: 100%;
    }

    .product-detail-right-col {
        width: 100%;
        margin: 0;
    }
}