.home-wrapper {
    background-color: var(--very-light-blue);
}

.navbar-wrapper {
    background-color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.banner-wrapper {
    height: 400px;
}

.home-product-recomm-wrapper {
    margin: 20px 0;
    display: block;
}

.home-product-carousel-wrapper {
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    padding: 0 10px;
}

.home-product-carousel-wrapper > h2 {
    color: var(--dark-orange);
}


@media only screen and (max-width: 1000px) {
    .content-wrapper {
        margin: 0 100px;
    }
}

@media only screen and (max-width: 700px) {
    .content-wrapper {
        margin: 0;
    }
}