.home-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
}

.navbar-wrapper {
    background-color: white;
}

.content-wrapper {
    /* border: 1px dashed black; */
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.banner-wrapper {
    height: 400px;
}

.home-trending-products-wrapper {
    margin: 20px 0;
}

@media only screen and (max-width: 1000px) {
    .content-wrapper {
        margin: 0 100px;
    }
}

@media only screen and (max-width: 700px) {
    .content-wrapper {
        margin: 0;
    }
}